/*
* 字体测试
*/
*{
  margin: 0;
  padding: 0;
}

body{
  font:12px/1.5 'Microsoft Yahei';
  color: #666;
}

/* 自定义字体uiLight - 微软雅黑Light */
@font-face {
  font-family: 'uiLight';
  src: url('./fonts/yyg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header{
  margin: 0 auto;
  padding: 20px 0;
  width: 900px;
  border-bottom: 1px solid #eee;
}

.content{
  margin: 0 auto;
  padding: 100px;
  width: 900px;
  /* 自定义非系统字体 */
  font-family: 'uiLight';//,'微软雅黑 Light', 'Microsoft Yahei';
}

.detail-box{
  margin: 30px 0 0;
}

.details{
  position: relative;
  padding: 0 0 15px 66px;
}

.details > h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
.details > p {
  font-size: 14px;
  color: #999;
  line-height: 1.4;
}
.details > b{
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  color: #fff;
  text-align: center;
  width: 46px;
  height: 46px;
  line-height: 46px;
  font-size: 30px;
  background: #d8b45e;
  border-radius: 50%;
}
